/* ====================
	Element styles
==================== */

html {
	font-family: monospace;
	background-color: #eeeeee;
	height: 100%;
}

body{
	min-height: 100%;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	background-color: #efefef;
	margin: 5px;
	font-size: small;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #444444;
}

button:hover {
	box-shadow: 3px 3px 1px #444444;
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

a:focus-visible {
	outline: none;
}

/* ====================
	Class styles
==================== */

.black {
	background-color: black !important;
	opacity: 1 !important;
}

.container {
	display: flex;
}

.vertical {
	flex-direction: column;
}

.center {
	justify-content: center;
	align-items: center;
}

.grow {
	flex-grow: 1;
}

.square {
	background-color: #efefef;
}

/* ====================
	ID styles
==================== */

#canvas {
	--cols: 1;
	width: 100px;
	height: 100px;
	display: inline-grid;
	grid-template-columns: repeat(var(--cols), 1fr);
	grid-template-rows: repeat(var(--cols), 1fr);
	column-gap: 1px;
	row-gap: 1px;
	vertical-align: top;
	margin: 0 10px 10px 0;
	background-color: #bbbbbb;
	border: 5px solid #333333;
}